.link {
  color: #DDD;
  text-decoration: underline;
  border-color: #DDD;
}
.h2 {
  color: red;
}
html {
  background-color: #4286f4;
  font-family: "OpenSans, verdana, sans-serif";
  background-color: #c1c1c1;
}
body {
  background-color: #4286f4;
}
.h1 {
  color: white;
}
.highlight {
  background-color: #c1c1c1;
}
.button {
  background-color: green;
  color: white;
  font-size: 20px;
}
.mainsection {
  background-color: #4286f4;
}
.mainsection .p {
  color: #ABCDEF;
}
.mainsection .a {
  text-decoration: underline;
  color: #DDD;
  background-color: #ABCDEF;
}
